
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}
header:hover {
    background-color: #333;
    color: #ff6347;
}
main {
    padding: 20px;
}
h2 {
    color: #ff6347;
}
.pizza-section {
    margin: 20px 0;
}
.pizza-section img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 2px;
    transition: background-color 0.3s ease;
}
footer:hover{
    background-color: gray;
}

.nav-bar ul {
    background-color: #ff6347;
    list-style-type: none;
    padding: 0;           
    margin: 0;           
    overflow: hidden;   
    display: flex;     
}

.nav-bar a {
    text-decoration: none; 
    color: white;       
    padding: 10px 20px;    
    display: block;   
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar a:hover {
    background-color: #333; 
    color: #ff6347;         
}
h3 {
    transition: color 0.3s ease;
}
h3:hover {
    color: #ff6347;
}